* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #2d3436;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* inputs */

.inputs {
    font-weight: 300;
    font-size: 14px;
    background-color: #34495e;
    width: 90%;
    margin: 10px auto 30px auto;
    border: 2px solid #9b59b6;

}

.input-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.input-list li {
    padding: 20px;
}

/* boxes */

.box-wrapper {
    width: 90%;
    margin: 0 auto;
    background-color: #2d3436;
}

.box-wrapper-fixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
}

.box-wrapper-fixed div {
    border-radius: 0 0 20px 20px;

}

.box-wrapper-fixed+.tables {
    padding-top: 105px;
}

div {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Mono', monospace;
    font-weight: 700;
    font-size: 30px;
}

.existingDiv,
.newDiv {
    position: relative;
    height: 100px;
    cursor: pointer;
    flex: 1;
}

.existingDiv {
    background-color: #00cec9;
    box-shadow: 0 0 0 3px #00cec9;
}

.newDiv {
    background-color: #fdcb6e;
    box-shadow: 0 0 0 3px #fdcb6e;
    margin-right: 40px;
}



.inner-span {
    position: absolute;
    background-color: #9b59b6;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px;
    animation: click 1s linear forwards;
    top: 0;
}

@keyframes click {
    0% {
        transform: scale(1);
        opacity: 1;
        top: 0;
    }

    100% {
        transform: scale(2);
        opacity: 0;
        top: -30px;
    }
}

/* tables */

.tables {
    display: block;
    width: 90%;
    display: flex;
    margin: 30px auto;
    align-items: flex-start;

}

table {
    background-color: #34495e;
    color: white;
    border-radius: 10px;
    overflow: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
    flex: 1;
}

table:first-child {
    margin-right: 40px;
}

td,
th {
    border: 2px solid #405a74;
    padding: 15px;
    text-align: left;
}

table th {
    font-size: 16px;
}

table tr {
    font-size: 14px;
    font-weight: 300;
}

table td {}

.element-interface-table {
    box-shadow: 0 0 0 3px #00cec9;
}

.node-interface-table {
    box-shadow: 0 0 0 3px #fdcb6e;
}

.node-span,
.element-span {
    font-size: 20px;
    position: absolute;
}

.node-span {
    top: 0;
    left: 0;
    color: #fdcb6e;
}

.element-span {
    top: 0;
    left: 0;
    color: #00cec9;
}

table:first-child td:first-child:hover {
    cursor: pointer;
    background-color: #fdcb6e;
    color: black;
}

table:last-child td:first-child:hover {
    cursor: pointer;
    background-color: #00cec9;
    color: black;
}

.outerHTML {
    font-size: 8px;
}

.NodeBaseURI {
    font-size: 10px;
}

.left-child {
    float: left;
    background-color: #fdcb6e;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.right-child {
    float: right;
    background-color: #fdcb6e;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.middle-child {
    float: left;
    margin-left: 100px;
    background-color: #fdcb6e;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.blue-child {
    float: right;
    margin-left: 100px;
    background-color: #00cec9;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#blue-element {
    float: right;
    margin-left: 100px;
    border: 1px solid #00cec9;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}